/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: jura;
		background: #151515;
}

#app2 {
	background: #151515;
	width: 100%;
}

.stats {
	width: 100%;
	background: #1E1E1E;
	padding: 30px 0 30px 0;
	color: white;
	text-align: center;
}

.stats-title {
	font-size: 28px;
}

.task {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px 20px 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	width: 	100%;
}

.task:hover {
	background: rgba(115, 115, 115, 0.5);
	transition: all 0.25s;
}

.task button {

	background: none;
	color: white;
	font-weight: 600;
	font-size: 24px;
}

.task button:hover {
		color: red;
		transition: color 0.2s;
}

.task button:active {
	transform: scale(0.7);
	transition: transform 0.1s;
}

.task-title {
	font-size: 18px;
	font-weight: 700;
	color: white;
	height: auto;
	margin-right: 30px;
}

.add-task {
	display: flex;
	justify-content: space-between;
	padding: 60px 40px;
}

.add-task button {
	width: 120px;
	background: #7B0C9D;
	color: white;
	height: 50px;
}

.add-task button:hover {
	background: #9B10C6;
	transition: background 0.2s;
}

.add-task button:active {
	transform: scale(0.95);
}

.input {
	height: 50px;
	border: 1px solid #000;
	font-size: 18px;
	padding: 10px;
	width: 450px;
}

@media screen and (max-width: 1024px) {
	.add-task {
		flex-direction: column;
		align-items: center;
	}

	.add-task button{
		margin-top: 30px;
	}

	.input{
		width: 100%;
	}

	.task-title {
		margin-bottom: 15px;
	margin-right: 5px;
	}

	.task:hover{
		background: none;
	}
	.task button:hover{
		color: white;
	}


}